{% extends 'users/main/base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
    <section class="bg-[#000300]">
    <div>
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
            <div class="w-full  rounded-lg  border md:mt-0 sm:max-w-md xl:p-0  border-gray-700">
                <div class="flex border-b border-gray-800 py-2 justify-center">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                        color="#0dff1c" height="60" width="60" xmlns="http://www.w3.org/2000/svg"
                        style="color: #008000;">
                        <g>
                            <path fill="none" d="M0 0H24V24H0z"></path>
                            <path
                                d="M12 2c5.523 0 10 4.477 10 10 0 4.13-2.504 7.676-6.077 9.201l-2.518-6.55C14.354 14.148 15 13.15 15 12c0-1.657-1.343-3-3-3s-3 1.343-3 3c0 1.15.647 2.148 1.596 2.652l-2.518 6.55C4.504 19.675 2 16.13 2 12 2 6.477 6.477 2 12 2z">
                            </path>
                        </g>
                    </svg>
                    <div class="ml-1 mt-4">
                        <h1 class="flex justify-center items-center  text-2xl font-semibold text-white">
                            Ideator Login
                        </h1>
                    </div>
                </div>
                <div class="p-6  space-y-4 md:space-y-6 sm:p-9 sm:pt-4">
                    <h1 class="text-sm font-light text-center  leading-tight   md:text-lg text-white">
                        Hey, Enter your details to sign in to <span class="block"> your account </span>
                    </h1>
                    <form class="space-y-4 md:space-y-6" action="" method="post">
                        {% csrf_token %}
                        <div class="flex justify-end">
                            <input type="email" name="email" id="email"
                                class="email bg-[#000300] border border-gray-500  sm:text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400 text-white   focus:border-[#0dff1c] "
                                placeholder="Email" required>

                        </div>
                        <div>
                            <input type="password" name="password" id="password" placeholder="Password"
                                class="bg-[#000300] border border-gray-500  sm:text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400 text-white   focus:border-[#0dff1c] "
                                required>
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="remember" type="checkbox"
                                        class="w-4 h-4 border  accent-[#008000] rounded"
                                        required="">
                                </div>
                                <div class="ml-2 text-sm">
                                    <label for="remember"
                                        class="text-gray-500 hover:cursor-pointer">Remember
                                        me</label>
                                </div>
                            </div>
                            <div>
                                <a href="/users/templates/users/forgot_password.html"
                                    class="text-sm font-extralight  text-white hover:underline  ">Forgot
                                    password?</a>
                            </div>
                        </div>
                        <button type="submit"
                            class="w-full text-black font-medium rounded-lg text-sm px-5 py-2.5 text-center  bg-[#008000] hover:bg-[#079b07] border border-[#079b07]">Sign
                            in</button>
                        <p class="text-sm font-light text-gray-400">
                            Don’t have an account yet? <a href="{% url 'sign_up' %}"
                                class="font-medium  hover:underline text-gray-300">Sign up</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock %}